.DS_Store
media/catalog/product/cache/*
media/customer/*
media/dhl/*
media/downloadable/*
media/import/*
media/xmlconnect/*
var/cache/*
var/locks/*
var/log/*
var/session/*
var/resource_config.json
app/etc/local.xml
node_modules
